<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=H, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        {% for pessoa in pessoas %}
            <li>{{pessoa.id}} {{pessoa.nome}}
                <a href="{% url 'editar' pessoa.id %}">Editar</a> - 
                <a href="{% url 'delete' pessoa.id %}">Excluir</a></li>
        {% endfor %}
        Cadastrar pessoa
    </ul>
    <br>
    <form action="{% url 'salvarpessoa' %}" method="post">
        {% csrf_token %}
        <input type="text" name=nome>
        <button type="submit">Salvar</button>
    </form>

</body>
</html>